# Виртуальное окружение
.venv/
venv/

# Python кеши
__pycache__/
*.py[cod]

# Логи
*.log

# Файлы среды разработки
*.idea/
*.vscode/

# Системные файлы
.DS_Store
Thumbs.db

.evn
*.env

*.core/
*.llm/

fopilot-e21f3-firebase-adminsdk-fbsvc-d81a9f131c.json
serviceAccountKey.json


# Секретные ключи (САМОЕ ВАЖНОЕ!)
.env

# Виртуальное окружение
venv/
*.venv/
env/

# Python кеш
__pycache__/
*.pyc

# Логи
*.log